<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>datumnet|@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="~/syncfusion-javascript/css/web/gradient-azure/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/syncfusion-javascript/css/web/responsive-css/ej.responsive.css" rel="stylesheet" />

    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/external/jsrender.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/scripts/web/ej.web.all.min.js" asp-append-version="true"></script>

    @*Controls*@
    <script src="~/Scripts/Controls/buttons.js"></script>
    <script src="~/Scripts/Controls/datastore.js"></script>
    <script src="~/Scripts/Controls/grid.js"></script>
    <script src="~/Scripts/Controls/lists.js"></script>
    <script src="~/Scripts/Controls/popup.js"></script>
    <script src="~/Scripts/Controls/uploader.js"></script>
    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    @*Pages*@
    <script src="~/scripts/pages/index.js" asp-append-version="true"></script>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav id="main-nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    </a><button id="brand">datum</button>|@ViewData["Title"]
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" title="Contabilidad">
                    <img src="~/images/icons8-estimates-24.png" width="16" height="16" alt=""> Contabilidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" title="Bancos y Cajas">
                        <img src="~/images/icons8-bank-safe-24.png" width="16" height="16" alt=""> Bancos y Cajas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" title="Compras, Gastos y Cuentas por Pagar">
                    <img src="~/images/icons8-debt-24.png" width="16" height="16" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" title="Ventas y Cuentas por Cobrar">
                    <img src="~/images/icons8-cash-counter-24.png" width="16" height="16" alt=""></a>
                </li>*@
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container-fluid">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - Datum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/external/jsrender.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/scripts/web/ej.web.all.min.js" asp-append-version="true"></script>

    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    <script src="~/scripts/pages/Index.js" asp-append-version="true"></script>

    <div>
        <partial name="~/Views/Home/uploaderPopup.cshtml" />
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
