<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>datumnet|@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Essential JS 1 theme -->
    <link href="~/syncfusion-javascript/css/web/bootstrap-theme/ej.web.all.compatibility.min.css" rel="stylesheet" />
    <link href="~/syncfusion-javascript/css/web/responsive-css/ej.responsive.css" rel="stylesheet" />

    <!-- Essential JS 2 theme -->
    <link href="~/syncfusion-ej2/ej2/styles/compatibility/fabric.css" rel="stylesheet" type="text/css" />

    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <!-- Essential JS 1  -->
    <script src="~/syncfusion-javascript/external/jsrender.min.js" asp-append-version="true"></script>
        <script src="~/syncfusion-javascript/scripts/web/ej.web.all.min.js" asp-append-version="true"></script>
    <!-- Essential JS 2  -->
    <script src="~/syncfusion-ej2/ej2/dist/ej2.min.js" type="text/javascript"></script>

    <!-- Controls -->
    <script src="~/Scripts/Controls/buttons.js"></script>
    <script src="~/Scripts/Controls/datastore.js"></script>
    <script src="~/Scripts/Controls/grid.js"></script>
    <script src="~/Scripts/Controls/lists.js"></script>
    <script src="~/Scripts/Controls/popup.js"></script>
    <script src="~/Scripts/Controls/uploader.js"></script>
    <script src="~/Scripts/site.js" asp-append-version="true"></script>

    <!-- ThirdParty -->
    <script src="~/Scripts/ThirdParty/moment.js"></script>
    <link href="~/css/ThirdParty/jquery.toast.min.css" rel="stylesheet" />
    <script src="~/Scripts/ThirdParty/jquery-input-mask-phone-number.js"></script>
    <script src="~/Scripts/ThirdParty/jquery.toast.min.js" type="text/javascript"></script>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav id="main-nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
                <div class="container-fluid">
                    <a class="navbar-brand">
                        <span id="brand">datumnet</span>|@ViewData["Title"]
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link text-dark text-middle fs-12" asp-area="" asp-controller="Home" asp-action="Accounts" title="accounts">
                                    cuentas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-middle fs-12" asp-area="" asp-controller="Home" asp-action="Policies" title="conciliation">
                                    asientos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-middle fs-12" asp-area="" asp-controller="Home" asp-action="Proceses" title="procesing">
                                    procesos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-middle fs-12" asp-area="" asp-controller="Home" asp-action="Reporting" title="reporting">
                                    reportes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-middle fs-12" asp-area="" asp-controller="Home" asp-action="Config" title="settings">
                                    configuracion
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-white box-shadow m-2">
        <div class="container-fluid">
            &copy; 2020 - Datum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/external/jsrender.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-javascript/scripts/web/ej.web.all.min.js" asp-append-version="true"></script>
    <script src="~/syncfusion-ej2/ej2/dist/ej2.min.js" type="text/javascript" asp-append-version="true"></script>

    <!-- ThirdParty -->
    <script src="~/Scripts/ThirdParty/moment.js"></script>
    <script src="~/Scripts/ThirdParty/jquery-input-mask-phone-number.js"></script>
    <script src="~/Scripts/ThirdParty/jquery.toast.min.js" type="text/javascript"></script>

    <script src="~/Scripts/site.js" asp-append-version="true"></script>
  
    <div>
        <partial name="~/Views/Home/uploaderPopup.cshtml" />
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
