/.vs/DatumNet/DesignTimeBuild/.dtbcache
/.vs/DatumNet/config/applicationhost.config
/.vs/DatumNet/v16/.suo
/.vs/DatumNet/v16/Server/sqlite3/db.lock
/.vs/DatumNet/v16/Server/sqlite3/storage.ide
/.vs/DatumNet/v16/Server/sqlite3/storage.ide-shm
/.vs/DatumNet/v16/Server/sqlite3/storage.ide-wal
