
.card {
    height: 70px;
}

.policy-text, policy-date {
    font-size: small; 
    font-weight: bold;
}

.e-grid .e-gridheader {
    display: none;
} 

.custom_bold {
    font-weight: bold !important; 
}