@{
    ViewData["Title"] = "contabilidad";
}

<link rel="stylesheet" type="text/css" href="~/css/pages/accounts.css">

<div id="container" class="row m-1">
    <div id="accounts" class="col-lg-3">
        <div id="accountsGrid"></div>
    </div>
    <div id="accountsTab" class="col-lg-9">
    </div>
</div>

<div id="accountsWork">
    <div id="accountWorkGrid">
    </div>
</div>

<div id="toolbarTemplate" style="display:none">
    <div id="datetimepicker">
        <input id="dtpStartEndDates">
    </div>
</div>

<script id="cellTemplate" type="text/x-template">
    <div class="card">
        <div class="container">
            <p>${accountCode}</p>
            <p class="card-text-bold">${description}</p>
        </div>
    </div>
</script>

<script src="~/Scripts/pages/accounts.js" asp-append-version="true"></script>