@{
    ViewData["Title"] = "configuracion";
}
<link rel="stylesheet" type="text/css" href="~/css/pages/config.css">
<div id="container" class="row m-1">
    <div id="configTab" class="col-md-12 ">
    </div>
</div>
<div id="tabOrganization" style="display:none">
    <div id="orgLeftPapel" class="col-md-3">
        <div id="orgsGrid"></div>
    </div>
    <div id="orgRightPanel" class="col-md-9">
    </div>
    
</div>
<div id="tabUsers" style="display:none">
    <div class="row">
        <div id="usersLeftPanel" class="col-md-3">
            <div id="usersGrid"></div>
        </div>
        <div id="usersRightPanel" class="col-md-9">
            <div id="userToolbar" class="e-header-text"><h4>perfil de usuario</h4></div>
        </div>
    </div>
</div>


<script id="orgTemplate" type="text/x-template">
    <div class="card">
        <div class="container">
            <p>fiscal id : ${fiscalID}</p>
            <p>empresa   : ${name}</p>
        </div>
    </div>
</script>

<script id="userTemplate" type="text/x-template">
    <div class="card">
        <div class="container">
            <p>user name : ${userName}</p>
            <p>e-mail    : <a href='mailto:${email}'>${email}</a></p>
        </div>
    </div>
</script>


<script src="~/Scripts/pages/config.js" asp-append-version="true"></script>