@{
    ViewData["Title"] = "configuracion";
}
<link rel="stylesheet" type="text/css" href="~/css/pages/config.css">
<div id="container" class="row m-1">
    <div id="configTab" class="col-md-12 ">
    </div>
</div>
<div id="tabOrganization" style="display:none">
    <div class="row">
        <div id="orgLeftPapel" class="col-md-3">
            <div id="orgsGrid"></div>
        </div>
        <div id="orgRightPanel" class="col-md-9">
            <div class="row e-header-text"><h4>empresa</h4></div>
            <hr>
            <div class="form-org col-md-4">
                <input class="edit-field name-org" type="text" placeholder="nombre o descripcion de la empresa" />
                <input class="edit-field activity" type="text" placeholder="actividad comercial" />
                <input class="edit-field fiscal-id" type="text" placeholder="codigo fiscal" />
                <input class="edit-ddl organization-type" type="text" placeholder="tipo de empresa" />
                <input class="edit-ddl association-type" type="text" placeholder="tipo de empresa" />
                <div class="row">
                    <div id="addressesGrid" style="margin-left:15px; margin-right:15px"></div>
                </div>
                <div class="row">
                    <div id="emailsGrid" style="margin-left:15px; margin-right:15px"></div>
                </div>
                <div class="row">
                    <div id="phonesGrid" style="margin-left:15px; margin-right:15px"></div>
                </div>
                <div class="row">
                    <div id="organizationUsersGrid" style="margin-left:15px; margin-right:15px"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="edit-field period-from" />
                    </div>
                    <div class="col-md-6">
                        <input class="edit-field period-end" />
                    </div>
                </div>
                <input class="edit-field admission" />
                <div class="row" style="margin-right: 10px">
                    <label class="edit-label col-11">logo</label>
                    <button class="e-btn col-1" id="logo-add-btn"></button>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="tabUsers" style="display:none">
    <div class="row">
        <div id="usersLeftPanel" class="col-md-3">
            <div id="usersGrid"></div>
        </div>
        <div id="usersRightPanel" class="col-md-9">
            <div class="row e-header-text"><h4>perfil de usuario</h4></div>
            <hr>
            <div class="form-user col-md-4">
                <input class="edit-field first-name" type="text" placeholder="nombres" />
                <input class="edit-field last-name" type="text" placeholder="apellidos" />
                <input class="edit-field birth-day" type="date" placeholder="fecha nacimiento" />
                <input class="edit-field email" type="email" placeholder="e-mail" />
                <input class="edit-field user-name" type="text" placeholder="user name" />
                <input class="edit-field phone-number" type="tel" placeholder="phone number" />
                <div id="userRolesGrid"></div>
                <div id="userOrgsGrid"></div>
            </div>


        </div>
    </div>
</div>


<script id="orgTemplate" type="text/x-template">
    <div class="card">
        <div class="container">
            <p>fiscal id : ${fiscalID}</p>
            <p>empresa   : ${name}</p>
        </div>
    </div>
</script>

<script id="userTemplate" type="text/x-template">
    <div class="card">
        <div class="container">
            <p>user name : ${userName}</p>
            <p>e-mail    : <a href='mailto:${email}'>${email}</a></p>
        </div>
    </div>
</script>

<style>
    span.e-btn-icon.fas.fa-plus.e-icons {
        font-size: 18px;
        color: black;
    }
</style>

<script src="~/Scripts/pages/config.js" asp-append-version="true"></script>
