@{
    ViewData["Title"] = "contabilidad";
}

<div id="container" class="row m-1">
    <div id="accountsTab" class="col-md-12 ">
    </div>
</div>
<div id="accounts" style="display:none">
    <div id="accountsGrid"></div>
</div>

<div id="accountMovements" style="display:none">
    <div id="movementsGrid"></div>
</div>









