@{
    ViewData["Title"] = "contabilidad";
}

<div id="label">
    <span>Esto es una prueba para pegar una etiqueta aqui</span>
</div>
<div id="accountsTab">
</div>
<div id="accountsGrid" style="display:none">
</div>





