@{
    ViewData["Title"] = "contabilidad";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table id="accountLabel" class="table-borderless">
            <tr style="font-size:smaller">
                <td width="25%"></td>
                <td></td>
                <td width="5%"><a onclick="clearSelectedAccount()" href="javascript:void(0)"><i class="fa fa-times" title="Clear selected account"></i></a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div id="accountsTab">
    </div>
    <div id="accountsGrid" style="display:none"></div>
    <div id="accountMovements" style="display:none">
        <div class="row">
            <div class="col-md-3">
                <input id="startEndDates" />
            </div>
        </div>
        <div class="row">
            <div id="movementsGrid" ></div>
        </div>
    </div>
</div>








