@{
    ViewData["Title"] = "asientos contables";
}

<div id="container" class="row m-1">
    <div id="policiesGrid"></div>
</div>
<div id="toolbarTemplate" style="display:none">
    <div id="datetimepicker">
        <input id="dtpStartEndDates">
    </div>
</div>

<script src="~/Scripts/pages/policies.js" asp-append-version="true"></script>