<div id="uploaderPopup" style="display: none;">
    <div class="row">
        @*<div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-2 title-parent title_margin">
                    <h3 class="body-title">Uploader</h3>
                </div>
            </div>
        </div>*@
        <div class="col-sm-12">
            <div id="targetElement" class="col-sm-3">
              
                <div id="UploadMethods"></div>
            </div>
            <div class="col-sm-3">
                <button id="btnExcelSave"></button>
            </div>
            <div class="col-sm-3">
                <button id="btnExcelCancel"></button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <input type="text" class="pre-headers edit-field" placeholder="How many rows in header?" />
            </div>
        </div>
    </div>
    <div id='uploadedGrid' class="form-grid"></div>
</div>
