/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0px;
    min-height: 100%;
    width: 100%;
    /*background-image: url(/images/NoPath.png);
    background-repeat: no-repeat;
    background-position: bottom;*/
    margin-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
   
    -moz-box-shadow: 0 -5px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 -5px 6px rgba(0,0,0,0.1);
    box-shadow: 0 -5px 6px rgba(0,0,0,0.1);
}



/*Ribbon*/

.e-ribbon .e-account {
    background-image: url("../images/BLUUI/icons8-outline-40.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.e-ribbon .e-actual {
    background-image: url("../images/BLUUI/icons8-ledger-40.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.e-ribbon .e-difered {
    background-image: url("../images/BLUUI/icons8-archive-folder-40.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

#accountLabel {
    position: absolute;
    right: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*** Form elements ***/
::placeholder {
    color: #a6a6a6;
    font-weight: 300;
    font-style: italic;
}

.edit-title {
    background-color: transparent;
    color: #045FB4;
    width: 100%;
    /*text-align: center;*/
    font-weight: 700;
    margin-top: 15px;
    /*margin-left: -15px;*/
}

.edit-link, a {
    background-color: transparent;
    color: #007bff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.edit-link {
    margin-top: 15px;
    width: 100%;
}

    .edit-link:hover {
        font-weight: 700;
    }

.edit-label {
    display: inline-block;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    margin-top: 15px;
    font-size: 14px;
}

.edit-field {
    width: 100%;
    padding: 2px;
    border: none;
    font-size: 14px;
    /*background-color: #F1F9FF;*/
    font-weight: 600;
    border-bottom: 1px solid #dee2e6;
}

    .edit-field.form-control {
        margin-bottom: 3px;
    }

.edit-footer {
    display: inline-block;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 13px;
}

textarea.edit-field {
    height: 120px;
}

.edit-ddl, .edit-ddl .e-input, .edit-ddl .e-select {
    padding: 0 0 0 2px;
    /*background-color: #F1F9FF !important;*/
}

.edit-ddl, .edit-field {
    color: black;
    height: 28px;
}

    .edit-ddl .e-in-wrap {
        border: none;
        border-bottom: 1px solid #dee2e6;
    }

/*.edit-field input {
    background-color: #F1F9FF;
    color: #2699FB;
    font-size: 13px;
    border-radius: 0.5em;
    border: 1px solid;
    outline: none;
    padding-left: 10px;
    max-width: 80%;
}*/

.borderless {
    margin: 0;
}

    .borderless td {
        padding: 0;
        border-top: none;
        /*border-bottom: 1px solid #dee2e6;*/
    }

/* Grid */
.e-grid .e-altrow .customgrid {
    background-color: #fafafa;
}
.e-lib.e-tab .e-tab-header .e-toolbar-item .e-tab-text {
    text-transform: none !important;
}

.card {
    transition: 0.3s;
    width: 100%;
    border-left-width: 10px;
    padding-left: 5px;
    margin-left: 0px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-text-bold {
    font-size: small;
    font-weight: bold;
}

.card-text {
    font-size: x-small;
    font-weight: normal;
}

/* Card Colors*/
.notconciliated {
    border-left-color: darkred;
}

.conciliated {
    border-left-color: forestgreen;
}
.assets {
    border-left-color: darkred;
}

.liabilities {
    border-left-color: darkorange;
}

.capital {
    border-left-color: yellow;
}

.incomes {
    border-left-color: forestgreen;
}

.outcomes {
    border-left-color: red;
}

.expenses {
    border-left-color: darkviolet;
}

.others {
    border-left-color: darkblue;
}

